@import url('https://fonts.cdnfonts.com/css/latherrich');
@import url('https://fonts.cdnfonts.com/css/oswald-variable');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.ho{
    position: relative;
    width: 4vw;
    margin-left: 3vw;
}
.ta{
    position: relative;
    margin-left: 8vw;
    top: -3.4vw;
    color: brown;
}
.ha{
    position: relative;
    z-index: 2;
    width: 90vw;
    height: 100vh;
    margin-left: 4vw;
    border-radius: 3vw;
    margin-top: 2vw;
}
.doc1{
    position: absolute;
    z-index: 3;
    margin-top: -30vw;
    margin-left: 8vw;
    font-family: 'Latherrich', sans-serif;
     font-size: 2vw;
    color:black;
}
.gg{
    position: absolute;
    z-index: 3;
    margin-top: -17vw;
    margin-left: 10vw;
    border: 1px solid black;
    border-radius: 3vw;
    width: 20vw;
    height: 10vh;
    background-color:white;
}
.doc28{
    position: absolute;
    z-index: 4;
    margin-top: -16vw;
    margin-left: 15vw;
    font-size: 1.9vw;
    color: black;
    font-family: 'Oswald Variable', sans-serif;
}
.dap{
    position: relative;
    margin-top: 5vw;
    margin-left: 40vw;
}
.gg1{
    position: relative;
    z-index: 2;
    margin-top: 3vw;
    margin-left: 5vw;
    border: 1px solid black;
    border-radius: 3vw;
    width: 35vw;
    height: 90vh;
    background-color:antiquewhite;
}
.kk0{
    position: absolute;
    z-index: 3;
    color: grey;
    margin-top: -32vw;
    margin-left: 12vw;
    font-size: 1.5vw;
}

 .diom{
    position: absolute;
    z-index: 3;
    margin-top: -36vw;
    margin-left: 15vw;
}
.caro{
    position: absolute;
    z-index: 3;
    width: 20vw;
    border-radius: 2vw;
    margin-top: -28vw;
    margin-left: 10vw;
}
.the{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left: 10vw;
    font-size: 1.3vw;
}
.gg2{
    position: relative;
    z-index: 2;
    margin-top: -43vw;
    margin-left: 52vw;
    border: 1px solid black;
    border-radius: 3vw;
    width: 35vw;
    height: 90vh;
    background-color:antiquewhite;
}
.kk1{
    position: absolute;
    z-index: 3;
    color: grey;
    margin-top: -32vw;
    margin-left: 60vw;
    font-size: 1.5vw;
}
.neu{
    position: absolute;
    z-index: 3;
    margin-top: -36vw;
    margin-left: 63vw;
}
.brain{
    position: absolute;
    z-index: 3;
    width: 20vw;
    margin-top: -27vw;
    margin-left: 58vw;
}
.med{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left: 57vw;
    font-size: 1.3vw;
}
.gg3{
    position: relative;
    z-index: 2;
    margin-top: 15vw;
    margin-left: 5vw;
    border: 1px solid black;
    border-radius: 3vw;
    width: 35vw;
    height: 90vh;
    background-color:antiquewhite;
}
.kk2{
    position: absolute;
    z-index: 3;
    margin-top: -31vw;
    margin-left: 13vw;
    font-size: 1.5vw;
    color: grey;
}
.pedics{
    position: absolute;
    z-index: 3;
    margin-top: -35vw;
    margin-left: 15vw;
}
.ortho{
    position: absolute;
    z-index: 3;
    width: 20vw;
    margin-top: -28vw;
    margin-left: 10vw;
}
.dis0{
    position: absolute;
    z-index: 3;
    margin-top: -12vw;
    margin-left: 7vw;
    font-size: 1.2vw;
    font-family: 'Latherrich', sans-serif;
}
.gg4{
    position: relative;
    z-index: 2;
    margin-top: -43vw;
    margin-left: 52vw;
    border: 1px solid black;
    border-radius: 3vw;
    width: 35vw;
    height: 90vh;
    background-color:antiquewhite;
}
.kk3{
    position: absolute;
    z-index: 3;
    margin-left: 61vw;
    margin-top: -31vw;
    font-size: 1.5vw;
    color: grey;
}
.cian{
    position: absolute;
    z-index: 3;
    margin-top: -35vw;
    margin-left: 62vw;
}
.pedia{
    position: absolute;
    z-index: 3;
    width: 20vw;
    margin-top: -28vw;
    margin-left: 58vw;
}
.who{
   position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left: 55vw;
    font-size: 1.2vw;
}
.gg5{
    position: relative;
    z-index: 2;
    margin-top: 15vw;
    margin-left: 5vw;
    border: 1px solid black;
    border-radius: 3vw;
    width: 35vw;
    height: 95vh;
    background-color:antiquewhite;
}
.der{
    position: absolute;
    z-index: 3;
    margin-top: -35vw;
    margin-left: 15vw;
}
.kk4{
     position: absolute;
    z-index: 3;
    margin-left: 15vw;
    margin-top: -31vw;
    font-size: 1.5vw;
    color: grey;
}
.der1{
    position: absolute;
    z-index: 3;
    width: 20vw;
    margin-top: -28vw;
    margin-left: 12vw;
}
.mat{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left: 7vw;
    font-size: 1.2vw;
    font-family: 'Latherrich', sans-serif;
}
.gg6{
     position: relative;
    z-index: 2;
    margin-top: -43vw;
    margin-left: 52vw;
    border: 1px solid black;
    border-radius: 3vw;
    width: 35vw;
    height: 93vh;
    background-color:antiquewhite;
}
.nep{
    position: absolute;
    z-index: 3;
    margin-top: -35vw;
    margin-left: 63vw;
}
.kk5{
    position: absolute;
    z-index: 3;
    margin-left: 65vw;
    margin-top: -31vw;
    font-size: 1.5vw;
    color: grey;
}
.kid{
    position: absolute;
    z-index: 3;
    width: 20vw;
    border-radius: 2vw;
    margin-top: -28vw;
    margin-left: 59vw;
}
.kid1{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left:55vw;
    font-size: 1.2vw;
    font-family: 'Latherrich', sans-serif;
}
.sche{
    position: relative;
    margin-top: 5vw;
    margin-left: 41vw;
}
.schedule-con{
    padding: 2vw;
    text-align: center;
    background-color:#f8f9f8;
    min-height: 100vh;
    margin-top: 5vw;
     font-family: 'Open Sans', sans-serif;
   
}
.schedule-table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color:white;
}
.schedule-table th,.schedule-table td{
    border: 1px solid #ddd;
    padding: 1vw;
}
.schedule-table th{
    background-color: #007bff;
    color: white;
    font-size: 1.5vw;
}
.schedule-table tr{
  background-color: #f2f2f2;
}

.schedule-table tr:hover {
  background-color:#d6eaff;
}
.spi{
    position: relative;
    margin-left: 9vw;
    margin-top:8vw;
    color: brown;
}
.spi0{
    position: relative;
    width: 3.5vw;
    margin-left: 5vw;
    top: -3vw;
}
.spi1{
    position: relative;
    z-index: 2;
    border: 1px solid white;
    width: 99vw;
    height: 45vh;
    background-color: black;
}
.pol{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -17vw;
    margin-left: 5vw;
}
.pol0{
    position: absolute;
    z-index: 3;
    margin-top: -13vw;
    color: white;
    margin-left: 3vw;
    font-size: 1.5vw;
}
.pol1{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.5vw;
    margin-left: 3vw;
    margin-top: -10vw;
}
.pol2{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -7vw;
    font-size: 1.5vw;
    margin-left: 3vw;
}
.rto{
    position: absolute;
    z-index: 3;
    width: 2.8vw;
    margin-left: 5vw;
    margin-top: -3.7vw;
}
.rto0{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 9vw;
    margin-top: -3.4vw;
}
.rto1{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 13vw;
    margin-top: -3.4vw;
}
.xol{
    position: absolute;
    z-index: 3;
    margin-top: -17vw;
    color: white;
    margin-left: 35vw;
}
.xol0{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -13vw;
    margin-left:35vw;
    font-size: 1.5vw;
}.xol1{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left: 35vw;
    border-radius: 2vw;
    width: 12vw;
    height: 4vh;
}
.tok0{
    position: absolute;
    z-index: 3;
    width: 9vw;
    height: 3.5vh;
    font-size: 1vw;
    border-radius: 2vw;
    margin-top: -5vw;
    margin-left: 35vw;
}
.dod{
    position: absolute;
    z-index: 3;
    margin-left: 55vw;
    color: white;
    margin-top: -17vw;
}
.dod0{
    position: absolute;
    z-index: 3;
    margin-left: 73vw;
    color: white;
    margin-top: -16.8vw;
}
.dod1{
    position: absolute;
    z-index: 3;
    margin-left: 85vw;
    color: white;
    margin-top: -16.8vw;
}
.uuu{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -13vw;
    margin-left: 55vw;
    font-size: 1.4vw;
}
.uuu0{
    position: absolute;
    z-index: 3;
    color: white;
    margin-left: 70vw;
    margin-top: -13vw;
    font-size: 1.4vw;
}
.uuu1{
    position: absolute;
    z-index: 3;
    font-size: 1.3vw;
    color: white;
    margin-top: -13vw;
    margin-left: 84vw;
}
.zzz{
    position: absolute;
    z-index: 3;
    color: white;
    margin-left:55vw;
    margin-top: -10vw;
    font-size: 1.4vw;
}
.zz0{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    color: white;
    margin-left: 72vw;
    font-size: 1.3vw;
}
.zz1{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.3vw;
    margin-left: 86vw;
    margin-top: -10vw;
}
.nom{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    color: white;
    margin-left: 55vw;
    font-size: 1.4vw;
}
.nom0{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    color: white;
    margin-left: 70vw;
    font-size: 1.4vw;
}
.nom1{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    margin-left:83vw;
    font-size: 1.3vw;
    color: white;
}
.uko{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 54.6vw;
    color: white;
    font-size: 1.4vw;
}
.uko0{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 69vw;
    color: white;
    font-size: 1.4vw;
}
.uko1{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 83vw;
    color: white;
    font-size: 1.4vw;
}

