.kolpk{
     position: relative;
     margin-left: 8vw;
     top: 3.5vw;
     color: brown;
}
.kolp0k{
    position: relative;
    width: 4vw;
    margin-left: 3vw;
}
.ser{
    position: relative;
    margin-top: 3vw;
    margin-left: 37vw;
}
.ser0{
    position: relative;
    margin-top: 5vw;
}
