
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.ho{
    position: relative;
    width: 4vw;
    margin-left: 3vw;
}
.ta{
    position: relative;
    margin-left: 8vw;
    top: -3.4vw;
    color: brown;
}
.htm{
    position: relative;
    width: 90vw;
    margin-left: 4vw;
}
.form{
    position: relative;
    margin-top: 4vw;
    margin-left: 37vw;
}
.loo1{
    position: relative;
    z-index: 2;
    margin-top: 5vw;
    margin-left: 12vw;
    border: 1px solid black;
    border-radius: 2vw;
    width: 70vw;
    height: 125vh;
    background-color: white;
}
.child{
    position: absolute;
   z-index: 3;
   width: 30vw;
   height: 80vh;
   border-radius: 2vw;
   margin-left: 46vw;
   margin-top: -48vw;
}
.no{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -51vw;
    font-size: 2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.noo{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -47vw;
    background-color: antiquewhite;
}
.ll{
    position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -51vw;
}
.me{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -41vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.me1{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -38vw;
    background-color: antiquewhite;
}
.zz{
    position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -41.4vw;
}
.bb{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -32vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.bbb{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -29vw;
    background-color: antiquewhite;
}
.cc{
    position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -32vw;
}
.il{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -24vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.ili{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -20vw;
    background-color: antiquewhite;
}
.ilil{
     position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -24vw;
}
.men{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -15vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.men1{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -11vw;
    background-color: antiquewhite;
}
.sel{
    position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -16vw;
}
.lem{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -7vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.lem1{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -4vw;
    background-color: antiquewhite;
}
.lem2{
     position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -7.5vw;
}
.subb{
    position: absolute;
    z-index: 3;
    width: 13vw;
    height: 5vh;
    border-radius: 2vw;
    font-size: 1.3vw;
    margin-left: 43vw;
    margin-top: -6vw;
    background-color: green;
    color: white;
}
.jj0{
    position: relative;
    margin-top: 8vw;
    margin-left: 43vw;
    color: brown;
}
.jj{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 85vw;
    height: 100vh;
    margin-top: 5vw;
    margin-left: 4vw;
    background-color: aliceblue;
}
.lth{
    position: absolute;
    z-index: 3;
    width: 8vw;
    margin-top: -45vw;
    margin-left: 7vw;
}
.lth1{
    position:absolute;
    z-index: 3;
    margin-left: 7vw;
    margin-top: -36vw;
    color: brown;
}
.st{
    position: absolute;
    z-index: 3;
    margin-top: -44vw;
    width: 7vw;
    margin-left: 25vw;
}
.st1{
    position: absolute;
    z-index: 3;
    margin-top: -36vw;
    margin-left: 25.8vw;
    color: brown;
}
.oct{
    position: absolute;
    z-index: 3;
    width: 8vw;
    margin-top: -44vw;
    margin-left: 41vw;
}
.oct1{
    position: absolute;
    z-index: 3;
    margin-top: -36vw;
    margin-left: 43vw;
    color: brown;
}
.rse{
    position: absolute;
    z-index: 3;
    width: 7.5vw;
    margin-top: -44vw;
    margin-left: 58vw;
}
.rse1{
    position: absolute;
    z-index: 3;
    margin-top: -36vw;
    margin-left: 60vw;
    color: brown;
}
.cine{
    position: absolute;
    z-index: 3;
    width: 7vw;
    margin-top: -43vw;
    margin-left: 76vw;
}
.cine1{
    position: absolute;
    z-index: 3;
    margin-left: 76vw;
    margin-top: -36vw;
    color: brown;
}
.tion{
    position: absolute;
    z-index: 3;
    margin-left: 7vw;
    width: 7vw;
    margin-top: -32vw;
}
.tion1{
    position: absolute;
    z-index: 3;
    margin-left: 7vw;
    margin-top: -24vw;
    color: brown;
}
.it{
    position: absolute;
    z-index: 3;
    width: 6vw;
    margin-left: 25vw;
    margin-top: -31vw;
}
.it1{
   position: absolute;
   z-index: 3;
   margin-top: -24vw;
   margin-left: 24.3vw;
   color: brown;
}
.dio{
    position: absolute;
    z-index: 3;
    width: 6vw;
    margin-top: -30.4vw;
    margin-left: 42vw;
}
.dio1{
    position: absolute;
    z-index: 3;
    margin-left: 41vw;
    margin-top: -24vw;
    color: brown;
}
.tie{
    position: absolute;
    z-index: 3;
    width: 7vw;
    margin-left: 59vw;
    margin-top: -31vw;
}
.tie1{
    position: absolute;
    z-index: 3;
    margin-left: 59.5vw;
    margin-top: -24vw;
    color: brown;
}
.mer{
    position: absolute;
    z-index: 3;
    width: 7vw;
    margin-top: -31vw;
    margin-left: 76vw;
}
.mer1{
    position: absolute;
    z-index: 3;
    margin-left: 76vw;
    margin-top: -23.5vw;
    color: brown;
}
.bul{
    position: absolute;
    z-index: 3;
    margin-left: 7vw;
    margin-top: -21vw;
    width: 7.5vw;
}
.bul1{
    position: absolute;
    z-index: 3;
    margin-top: -14vw;
    margin-left: 6.8vw;
    color: brown;
}
.tho{
    position: absolute;
    z-index: 3;
    width: 6vw;
    margin-left: 24.5vw;
    margin-top: -20.5vw;
}
.tho1{
    position: absolute;
    z-index: 3;
    margin-left: 24vw;
    margin-top: -14vw;
    color: brown;
}
.surg{
    position: absolute;
    z-index: 3;
    width: 6vw;
    margin-left: 42vw;
    margin-top: -20vw;
}
.surg1{
    position: absolute;
    z-index: 3;
    margin-top: -14vw;
    margin-left: 42vw;
    color: brown;
}
.lab{
    position: absolute;
    z-index:3;
    margin-left: 59vw;
    width: 5.5vw;
    margin-top: -20vw;
}
.lab1{
    position: absolute;
    z-index: 3;
    margin-left: 60.5vw;
    margin-top: -14vw;
    color: brown;
}
.virus{
    position: absolute;
    z-index: 3;
    width: 5.5vw;
    margin-top: -20vw;
    margin-left: 76.5vw;
}
.virus1{
    position: absolute;
    z-index: 3;
    margin-top: -14vw;
    margin-left: 77vw;
    color: brown;
}
.phar{
   position: absolute;
   z-index: 3;
   width: 6vw;
   margin-left: 7vw;
   margin-top: -11vw;
}
.phar1{
    position: absolute;
    z-index: 3;
    margin-left: 7vw;
    margin-top: -4vw;
    color: brown;
}
.report{
    position: absolute;
    z-index: 3;
    width: 6vw;
    margin-left: 24vw;
    margin-top: -11vw;
}
.report1{
    position: absolute;
    z-index: 3;
    margin-top: -4vw;
    margin-left: 22vw;
    color: brown;
}
.treat{
    position: absolute;
    z-index: 3;
    width: 6vw;
    margin-left: 42vw;
    margin-top: -11vw;
}
.treat1{
    position: absolute;
    z-index: 3;
    margin-top: -4vw;
    margin-left: 41vw;
    color: brown;
}
.micro{
    position: absolute;
    z-index: 3;
    width: 6vw;
    margin-left: 59vw;
    margin-top: -11vw;
}
.micro1{
    position: absolute;
    z-index: 3;
    margin-left: 58vw;
    margin-top: -4vw;
    color: brown;
}
.clinic{
    position: absolute;
    z-index: 3;
    width: 5vw;
    margin-top: -10vw;
    margin-left: 76vw;
}
.clinic1{
    position: absolute;
    z-index: 3;
    margin-left: 76.5vw;
    margin-top: -4vw;
    color: brown;
}
.pi{
    position: relative;
    margin-left: 9vw;
    margin-top: 8vw;
    color: brown;
}
.img0{
    position: relative;
    width: 3.5vw;
    margin-left: 5vw;
    top: -3vw;
}
.vv{
    position: relative;
    z-index: 2;
    border: 1px solid white;
    width: 99vw;
    height: 40vh;
    background-color: black;
}
.vv0{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -17vw;
    margin-left: 5vw;
}
.np{
    position: absolute;
    z-index: 3;
    margin-top: -13vw;
    color: white;
    margin-left: 3vw;
    font-size: 1.5vw;
}
.mail{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.5vw;
    margin-left: 3vw;
    margin-top: -10vw;
}
.nagar{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -7vw;
    font-size: 1.5vw;
    margin-left: 3vw;
}
.face{
    position: absolute;
    z-index: 3;
    width: 2.8vw;
    margin-left: 5vw;
    margin-top: -3.7vw;
}
.ins{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 9vw;
    margin-top: -3.4vw;
}
.g0{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 13vw;
    margin-top: -3.4vw;
}
.joi{
    position: absolute;
    z-index: 3;
    margin-top: -17vw;
    color: white;
    margin-left: 35vw;
}
.vv1{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -13vw;
    margin-left:35vw;
    font-size: 1.5vw;
}
.labe{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left: 35vw;
    border-radius: 2vw;
    width: 12vw;
    height: 4vh;
}
.ton{
    position: absolute;
    z-index: 3;
    width: 9vw;
    height: 3.5vh;
    font-size: 1vw;
    border-radius: 2vw;
    margin-top: -5vw;
    margin-left: 35vw;
}
.ment{
    position: absolute;
    z-index: 3;
    margin-left: 55vw;
    color: white;
    margin-top: -17vw;
}
.day{
    position: absolute;
    z-index: 3;
    margin-left: 73vw;
    color: white;
    margin-top: -16.8vw;
}
.time{
    position: absolute;
    z-index: 3;
    margin-left: 85vw;
    color: white;
    margin-top: -16.8vw;
}
.opd{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -13vw;
    margin-left: 55vw;
    font-size: 1.4vw;
}
.monday{
    position: absolute;
    z-index: 3;
    color: white;
    margin-left: 70vw;
    margin-top: -13vw;
    font-size: 1.4vw;
}
.monk{
    position: absolute;
    z-index: 3;
    font-size: 1.3vw;
    color: white;
    margin-top: -13vw;
    margin-left: 84vw;
}
.genk{
    position: absolute;
    z-index: 3;
    color: white;
    margin-left:55vw;
    margin-top: -10vw;
    font-size: 1.4vw;
}
.all{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    color: white;
    margin-left: 72vw;
    font-size: 1.3vw;
}
.all0{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.3vw;
    margin-left: 86vw;
    margin-top: -10vw;
}
.mac{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    color: white;
    margin-left: 55vw;
    font-size: 1.4vw;
}
.sun{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    color: white;
    margin-left: 70vw;
    font-size: 1.4vw;
}
.sun0{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    margin-left:83vw;
    font-size: 1.3vw;
    color: white;
}
.scan{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 54.6vw;
    color: white;
    font-size: 1.4vw;
}
.scan0{
     position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 69vw;
    color: white;
    font-size: 1.4vw;
}
.scan1{
     position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 83vw;
    color: white;
    font-size: 1.4vw;
}
