
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.ho{
    position: relative;
    width: 4vw;
    margin-left: 3vw;
}
.ta{
    position: relative;
    margin-left: 8vw;
    top: -3.4vw;
    color: brown;
}
.htm{
    position: relative;
    width: 90vw;
    margin-left: 4vw;
}
.form{
    position: relative;
    margin-top: 4vw;
    margin-left: 37vw;
}
.loo1{
    position: relative;
    z-index: 2;
    margin-top: 5vw;
    margin-left: 12vw;
    border: 1px solid black;
    border-radius: 2vw;
    width: 70vw;
    height: 110vh;
    background-color: white;
}
.child{
    position: absolute;
   z-index: 3;
   width: 30vw;
   height: 80vh;
   border-radius: 2vw;
   margin-left: 46vw;
   margin-top: -48vw;
}
.no{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -51vw;
    font-size: 2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.noo{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -47vw;
    background-color: antiquewhite;
}
.ll{
    position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -51vw;
}
.me{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -41vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.me1{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -38vw;
    background-color: antiquewhite;
}
.zz{
    position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -41.4vw;
}
.bb{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -32vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.bbb{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -29vw;
    background-color: antiquewhite;
}
.cc{
    position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -32vw;
}
.il{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -24vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.ili{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -20vw;
    background-color: antiquewhite;
}
.ilil{
     position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -24vw;
}
.men{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -15vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.men1{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -11vw;
    background-color: antiquewhite;
}
.sel{
    position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -16vw;
}
.lem{
    position: absolute;
    z-index: 3;
    margin-left: 19vw;
    margin-top: -7vw;
    font-size:2vw;
    font-family: 'PetitaMedium', sans-serif;
}
.lem1{
    position: absolute;
    z-index: 3;
    width: 15vw;
    border-radius: 2vw;
    height: 3vw;
    margin-left: 19vw;
    margin-top: -4vw;
    background-color: antiquewhite;
}
.lem2{
     position: absolute;
    z-index: 3;
    width: 3vw;
    margin-left: 15.5vw;
    margin-top: -7.5vw;
}
.subb{
    position: absolute;
    z-index: 3;
    width: 13vw;
    height: 5vh;
    border-radius: 2vw;
    font-size: 1.3vw;
    margin-left: 43vw;
    margin-top: -6vw;
    background-color: green;
    color: white;
}