@import url('https://fonts.cdnfonts.com/css/delius-swash-caps');

.pit{
    position: relative;
    margin-left: 8vw;
    top: 3vw;
    color: brown;
    font-family: 'Merry Loves', sans-serif;
}
.pit0{
   position: relative;
    width: 4vw;
    margin-left: 3vw;
}
.dddk{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 5vw;
    width: 95vw;
    height: 115vh;
    margin-left: 2vw;
    margin-top: 5vw;
    background-color:lightgrey;
}
.login0{
    position: absolute;
    z-index: 3;
    width: 55vw;
    border-radius: 5vw;
    height: 115vh;
    margin-top: -54.6vw;
    margin-left: 2.1vw;
}
.gin{
    position: absolute;
    z-index: 3;
    color:black;
    margin-left: 75vw;
    margin-top: -52vw;
}
.bel{
    position: absolute;
    z-index: 3;
    margin-left: 70vw;
    margin-top: -45.5vw;
    font-size: 2vw;
    color: brown;
   font-family: 'Agbalumo', sans-serif;
}
.bel0{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 6vh;
    border-radius: 0.5vw;
    margin-left: 70vw;
    background-color:antiquewhite;
    margin-top: -41vw;
    border: 2px solid black; 
}
.namk{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 67vw;
    margin-top: -45vw;
}
.mai{
    position: absolute;
    z-index: 3;
    margin-left: 70vw;
    margin-top: -35.5vw;
    font-size: 2vw;
    color: brown;
    font-family: 'Agbalumo', sans-serif;
}
.mai0{
    position: absolute;
    z-index: 3;
     width: 20vw;
    height: 6vh;
    border-radius: 0.5vw;
    margin-left: 70vw;
    background-color:antiquewhite;
    border: 2px solid black;
    margin-top: -31vw;
}
.mai1{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 67vw;
    margin-top: -35vw;
}
.ord{
    position: absolute;
    z-index: 3;
    margin-left: 70vw;
    margin-top: -25.5vw;
    font-size: 2vw;
    color: brown;
    font-family: 'Agbalumo', sans-serif;
}
.ord0{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 15vh;
    border-radius: 0.5vw;
    background-color:antiquewhite;
    margin-left: 70vw;
    margin-top: -21.5vw;
    border: 2px solid black;

}
.ord1{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 67vw;
    margin-top: -25vw;
}

.mit{
    position: absolute;
    z-index: 3;
    width: 10vw;
    border-radius: 3vw;
    font-family: 'Agbalumo', sans-serif;
    font-size: 1.5vw;
    background-color: green;
    margin-left: 70vw;
    margin-top: -12vw;
}
.kn{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:skyblue;
    margin-left: 64vw;
    margin-top: -7vw;
}
.kn:hover{
    background-color: white;
}
.fac{
    position: absolute;
    z-index: 4;
    width: 2.6vw;
    margin-left: 65.2vw;
    margin-top: -6vw;
}
.kn0{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:palevioletred;
    margin-left: 73vw;
    margin-top: -7vw;
}
.kn0:hover{
    background-color: white;
}
.ita{
    position: absolute;
    z-index: 4;
    width: 2.6vw;
    margin-left: 74.3vw;
    margin-top: -6vw;
}
.kn1{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:white;
    margin-left: 82vw;
    margin-top: -7vw;
}
.goh{
    position: absolute;
    z-index: 4;
    width: 2.6vw;
    margin-left: 83.5vw;
    margin-top: -6vw;
}
.pi0kk{
    position: relative;
    margin-left: 9vw;
    margin-top:15vw;
    color: brown;
}
.img01j{
    position: relative;
    width: 3.5vw;
    margin-left: 5vw;
    top: -3vw;
}
.iik{
    position: relative;
    z-index: 2;
    border: 1px solid white;
    width: 99vw;
    height: 40vh;
    background-color: black;
}
.nai{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -17vw;
    margin-left: 5vw;
}
.nai0{
    position: absolute;
    z-index: 3;
    margin-top: -13vw;
    color: white;
     font-family: 'Agbalumo', sans-serif;
    margin-left: 3vw;
    font-size: 1.5vw;
}
.nai1{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.5vw;
     font-family: 'Agbalumo', sans-serif;
    margin-left: 3vw;
    margin-top: -10vw;
}
.nai2{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -7vw;
     font-family: 'Agbalumo', sans-serif;
    font-size: 1.5vw;
    margin-left: 3vw;
}
.al{
    position: absolute;
    z-index: 3;
    width: 2.8vw;
    margin-left: 5vw;
    margin-top: -3.7vw;
}
.al0{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 9vw;
    margin-top: -3.4vw;
}
.al1{
   position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 13vw;
    margin-top: -3.4vw;
}
.kil{
    position: absolute;
    z-index: 3;
    margin-top: -17vw;
    color: white;
    margin-left: 35vw;
}
.kil0{
     position: absolute;
    z-index: 3;
    color: white;
     font-family: 'Agbalumo', sans-serif;
    margin-top: -13vw;
    margin-left:35vw;
    font-size: 1.5vw;
}
.kil1{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left: 35vw;
    border-radius: 2vw;
    width: 12vw;
    height: 4vh;
}
.tok{
    position: absolute;
    z-index: 3;
    width: 9vw;
    height: 3.5vh;
    font-family: 'Agbalumo', sans-serif;
    font-size: 1vw;
    border-radius: 2vw;
    margin-top: -5vw;
    margin-left: 35vw;
}
.jk{
   position: absolute;
    z-index: 3;
    margin-left: 55vw;
    color: white;
    margin-top: -17vw;
}
.jk0{
     position: absolute;
    z-index: 3;
    margin-left: 72vw;
    font-family: 'Agbalumo', sans-serif;
    color: white;
    margin-top: -16.8vw;
}
.jk1{
    position: absolute;
    z-index: 3;
    margin-left: 85vw;
    font-family: 'Agbalumo', sans-serif;
    color: white;
    margin-top: -16.8vw;
}
.ok{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -13vw;
    font-family: 'Agbalumo', sans-serif;
    margin-left: 55vw;
    font-size: 1.4vw;
}
.ok0{
    position: absolute;
    z-index: 3;
    color: white;
    margin-left: 67vw;
    font-family: 'Agbalumo', sans-serif;
    margin-top: -13vw;
    font-size: 1.4vw;
}
.ok1{
    position: absolute;
    z-index: 3;
    font-size: 1.3vw;
    font-family: 'Agbalumo', sans-serif;
    color: white;
    margin-top: -13vw;
    margin-left: 84vw;
}
.pk{
   position: absolute;
    z-index: 3;
    color: white;
    font-family: 'Agbalumo', sans-serif;
    margin-left:55vw;
    margin-top: -10vw;
    font-size: 1.4vw;
}
.pk0{
   position: absolute;
    z-index: 3;
    margin-top: -10vw;
    font-family: 'Agbalumo', sans-serif;
    color: white;
    margin-left: 69vw;
    font-size: 1.3vw;
}
.pk1{
   position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.3vw;
    font-family: 'Agbalumo', sans-serif;
    margin-left: 86vw;
    margin-top: -10vw;
}
.pok{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    font-family: 'Agbalumo', sans-serif;
    color: white;
    margin-left: 55vw;
    font-size: 1.4vw;
}
.pok0{
   position: absolute;
    z-index: 3;
    margin-top: -7vw;
    font-family: 'Agbalumo', sans-serif;
    color: white;
    margin-left: 67vw;
    font-size: 1.4vw;
}
.pok1{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    font-family: 'Agbalumo', sans-serif;
    margin-left:83vw;
    font-size: 1.3vw;
    color: white;
}
.ank{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 54.6vw;
    color: white;
    font-family: 'Agbalumo', sans-serif;
    font-size: 1.4vw;
}
.ank0{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 67vw;
    font-family: 'Agbalumo', sans-serif;
    color: white;
    font-size: 1.4vw;
}
.ank1{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 83vw;
    color: white;
    font-family: 'Agbalumo', sans-serif;
    font-size: 1.4vw;
}
@media screen and (max-width:600px){
    .pit{
    position: relative;
    margin-left: 14vw;
    top: 8vw;
    font-size: 5vw;
    color: brown;
}
.pit0{
   position: relative;
   width: 10vw;
   margin-left: 2vw;
}
.dddk{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    width: 100vw;
    height: 120vh;
    margin-left: 2vw;
    margin-top: 8vw;
    background-color:cornflowerblue;
    border-radius: 3vw;
}
.login0{
    position: absolute;
    z-index: 3;
    width: 90vw;
    border-radius: 5vw;
    height: 60vh;
    margin-top: -240vw;
    margin-left: 6vw;
}
.gin{
    position: absolute;
    z-index: 3;
    color:black;
    margin-left: 40vw;
    margin-top: -255vw;
}
.bel{
    position: absolute;
    z-index: 3;
    margin-left: 30vw;
    margin-top: -105vw;
    font-size: 5vw;
    color: brown;
   font-family: 'Agbalumo', sans-serif;
}

.bel0{
    position: absolute;
    z-index: 3;
    width: 40vw;
    height: 4vh;
    border-radius: 0.5vw;
    margin-left: 32vw;
    margin-top: -95vw;
}
.namk{
    position: absolute;
    z-index: 3;
    width: 8vw;
    margin-left: 21vw;
    margin-top: -105vw;
}
.mai{
    position: absolute;
    z-index: 3;
    margin-left: 30vw;
    margin-top: -80vw;
    font-size: 5vw;
    color: brown;
  font-family: 'Agbalumo', sans-serif;
}
.mai0{
    position: absolute;
    z-index: 3;
     width: 40vw;
    height: 4vh;
    border-radius: 0.5vw;
    margin-left: 33vw;
    margin-top: -70vw;
}
.mai1{
    position: absolute;
    z-index: 3;
    width: 8vw;
    margin-left: 21vw;
    margin-top: -80vw;
}.ord{
    position: absolute;
    z-index: 3;
    margin-left: 30vw;
    margin-top: -55vw;
    font-size: 5vw;
    color: brown;
  font-family: 'Agbalumo', sans-serif;
}
.ord0{
    position: absolute;
    z-index: 3;
     width: 40vw;
    height: 6vh;
    border-radius: 0.5vw;
    margin-left: 34vw;
    margin-top: -46vw;
}
.ord1{
    position: absolute;
    z-index: 3;
    width: 8vw;
    margin-left: 21vw;
    margin-top: -56vw;
}
.mit{
    position: absolute;
    z-index: 3;
    width: 30vw;
    height: 3vh;
    border-radius: 0.5vw;
    font-size:3vw;
    background-color: green;
    margin-left: 35vw;
    margin-top: -28vw;
} 

.kn{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 8vw;
    height: 8vw;
    background-color:skyblue;
    margin-left: 30vw;
    margin-top: -13vw;
}
.kn:hover{
    background-color: white;
}
.fac{
    position: absolute;
    z-index: 4;
    width: 6vw;
    margin-left: 31vw;
    margin-top: -12vw;
}
.kn0{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 8vw;
    height: 8vw;
    background-color:palevioletred;
    margin-left:45vw;
    margin-top: -13vw;
}
.kn0:hover{
    background-color: white;
}
.ita{
    position: absolute;
    z-index: 4;
    width: 5vw;
    margin-left: 47vw;
    margin-top: -12vw;
}
.kn1{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 8vw;
    height: 8vw;
    background-color:white;
    margin-left: 60vw;
    margin-top: -13vw;
}
.goh{
    position: absolute;
    z-index: 4;
    width: 5vw;
    margin-left: 62vw;
    margin-top: -11.5vw;
}
.pi0kk{
    position: relative;
    margin-left: 9vw;
    margin-top:15vw;
    color: brown;
    font-size: 5vw;
}
.img01j{
    position: relative;
    width: 7vw;
    margin-left: 1vw;
    top: -6.8vw;
}
.iik{
    position: relative;
    z-index: 2;
    border: 1px solid white;
    width: 100vw;
    height: 120vh;
    background-color: black;
}
.nai{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -250vw;
    margin-left: 5vw;
}
.nai0{
    position: absolute;
    z-index: 3;
    margin-top: -235vw;
    color: white;
    margin-left: 3vw;
    font-size: 4.5vw;
}
.nai1{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 4.5vw;
    margin-left: 3vw;
    margin-top: -225vw;
}
.nai2{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -215vw;
    font-size: 4.5vw;
    margin-left: 3vw;
}
.al{
    position: absolute;
    z-index: 3;
    width: 10vw;
    margin-left: 5vw;
    margin-top: -205vw;
}
.al0{
    position: absolute;
    z-index: 3;
    width: 9vw;
    margin-left: 19vw;
    margin-top: -204vw;
}
.al1{
   position: absolute;
    z-index: 3;
    width: 9vw;
    margin-left: 32vw;
    margin-top: -204vw;
}
.kil{
    position: absolute;
    z-index: 3;
    margin-top: -190vw;
    color: white;
    margin-left: 35vw;
}
.kil0{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -170vw;
    margin-left:25vw;
    font-size: 5vw;
}
.kil1{
    position: absolute;
    z-index: 3;
    margin-top: -160vw;
    margin-left: 35vw;
    border-radius: 2vw;
    width: 35vw;
    height: 3vh;
}
.tok{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 3vh;
    font-size: 3vw;
    border-radius: 2vw;
    margin-top: -148vw;
    margin-left: 35vw;
}
.jk{
    position: absolute;
    z-index: 3;
    margin-left: 10vw;
    color: white;
    margin-top: -135vw;
}
.ok{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -124vw;
    margin-left: 25vw;
    font-size: 5vw;
}
.pk{
    position: absolute;
    z-index: 3;
    color: white;
    margin-left:25vw;
    margin-top: -116vw;
    font-size: 5vw;
}
   .pok{
    position: absolute;
    z-index: 3;
    margin-top: -109vw;
    color: white;
    margin-left: 25vw;
    font-size: 5vw;
}
.ank{
    position: absolute;
    z-index: 3;
    margin-top: -102vw;
    margin-left: 25vw;
    color: white;
    font-size: 5vw;
}
.jk0{
    position: absolute;
    z-index: 3;
    margin-left: 10vw;
    color: white;
    margin-top: -95vw;
}
.ok0{
    position: absolute;
    z-index: 3;
    color: white;
    margin-left: 24vw;
    margin-top: -87vw;
    font-size: 5vw;
}
.pk0{
   position: absolute;
    z-index: 3;
    margin-top: -80vw;
    color: white;
    margin-left: 24vw;
    font-size: 5vw;
}
.pok0{
   position: absolute;
    z-index: 3;
    margin-top: -74vw;
    color: white;
    margin-left: 24vw;
    font-size: 5vw;
}
.ank0{
    position: absolute;
    z-index: 3;
    margin-top: -68vw;
    margin-left:24vw;
    color: white;
    font-size: 5vw;
}
.jk1{
    position: absolute;
    z-index: 3;
    margin-left: 10vw;
    color: white;
    margin-top: -55vw;
} 
.ok1{
    position: absolute;
    z-index: 3;
    font-size: 5vw;
    color: white;
    margin-top: -47vw;
    margin-left: 24vw;
}
.pk1{
   position: absolute;
    z-index: 3;
    color: white;
    font-size: 5vw;
    margin-left: 24vw;
    margin-top: -40vw;
}
.pok1{
    position: absolute;
    z-index: 3;
    margin-top: -34vw;
    margin-left:24vw;
    font-size: 5vw;
    color: white;
}
.ank1{
    position: absolute;
    z-index: 3;
    margin-top: -28vw;
    margin-left: 24vw;
    color: white;
    font-size: 5vw;
}















}