@import url('https://fonts.cdnfonts.com/css/delius-swash-caps');

.pit{
    position: relative;
    margin-left: 8vw;
    top: 3.5vw;
    color: brown;
}
.pit0{
   position: relative;
    width: 4vw;
    margin-left: 3vw;
}
.dd{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    width: 80vw;
    height: 120vh;
    margin-left: 10vw;
    margin-top: 8vw;
    background-color:cornflowerblue;
}
.login0{
    position: absolute;
    z-index: 3;
    width: 40vw;
    border-radius: 5vw;
    height: 100vh;
    margin-top: -49vw;
    margin-left: 13vw;
}
.gin{
    position: absolute;
    z-index: 3;
    color:black;
    margin-left: 66.5vw;
    margin-top: -47vw;
}
.bel{
    position: absolute;
    z-index: 3;
    margin-left: 60vw;
    margin-top: -40vw;
    font-size: 2vw;
    color: brown;
    font-family: 'Delius Swash Caps', sans-serif;
}
.bel0{
    position: absolute;
    z-index: 3;
    width: 12vw;
    height: 3vh;
    border-radius: 1vw;
    margin-left: 65vw;
    margin-top: -35vw;
}
.namk{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 57vw;
    margin-top: -40vw;
}
.mai{
    position: absolute;
    z-index: 3;
    margin-left: 60vw;
    margin-top: -30vw;
    font-size: 2vw;
    color: brown;
    font-family: 'Delius Swash Caps', sans-serif;
}
.mai0{
    position: absolute;
    z-index: 3;
     width: 12vw;
    height: 3vh;
    border-radius: 1vw;
    margin-left: 65vw;
    margin-top: -26vw;
}
.mai1{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 57vw;
    margin-top: -30vw;
}
.ord{
    position: absolute;
    z-index: 3;
    margin-left: 60vw;
    margin-top: -21vw;
    font-size: 2vw;
    color: brown;
    font-family: 'Delius Swash Caps', sans-serif;
}
.ord0{
    position: absolute;
    z-index: 3;
     width: 12vw;
    height: 3vh;
    border-radius: 1vw;
    margin-left: 65vw;
    margin-top: -16vw;
}
.ord1{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 57vw;
    margin-top: -21vw;
}
.mit{
    position: absolute;
    z-index: 3;
    width: 6vw;
    border-radius: 3vw;
    font-size: 1.1vw;
    background-color: green;
    margin-left: 64vw;
    margin-top: -11vw;
}
.kn{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:skyblue;
    margin-left: 57vw;
    margin-top: -7vw;
}
.kn:hover{
    background-color: white;
}
.fac{
    position: absolute;
    z-index: 4;
    width: 2.6vw;
    margin-left: 58.4vw;
    margin-top: -6vw;
}
.kn0{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:palevioletred;
    margin-left: 65vw;
    margin-top: -7vw;
}
.kn0:hover{
    background-color: white;
}
.ita{
    position: absolute;
    z-index: 4;
    width: 2.6vw;
    margin-left: 66.3vw;
    margin-top: -6vw;
}
.kn1{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 5vw;
    height: 5vw;
    background-color:white;
    margin-left: 73vw;
    margin-top: -7vw;
}
.goh{
    position: absolute;
    z-index: 4;
    width: 2.6vw;
    margin-left: 74.3vw;
    margin-top: -6vw;
}
.pi0kk{
    position: relative;
    margin-left: 9vw;
    margin-top:10vw;
    color: brown;
}
.img01j{
      position: relative;
    width: 3.5vw;
    margin-left: 5vw;
    top: -3vw;
}
.iik{
     position: relative;
    z-index: 2;
    border: 1px solid white;
    width: 99vw;
    height: 40vh;
    background-color: black;
}
.nai{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -17vw;
    margin-left: 5vw;
}
.nai0{
    position: absolute;
    z-index: 3;
    margin-top: -13vw;
    color: white;
    margin-left: 3vw;
    font-size: 1.5vw;
}
.nai1{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.5vw;
    margin-left: 3vw;
    margin-top: -10vw;
}
.nai2{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -7vw;
    font-size: 1.5vw;
    margin-left: 3vw;
}
.al{
    position: absolute;
    z-index: 3;
    width: 2.8vw;
    margin-left: 5vw;
    margin-top: -3.7vw;
}
.al0{
    position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 9vw;
    margin-top: -3.4vw;
}
.al1{
   position: absolute;
    z-index: 3;
    width: 2.5vw;
    margin-left: 13vw;
    margin-top: -3.4vw;
}
.kil{
    position: absolute;
    z-index: 3;
    margin-top: -17vw;
    color: white;
    margin-left: 35vw;
}
.kil0{
     position: absolute;
    z-index: 3;
    color: white;
    margin-top: -13vw;
    margin-left:35vw;
    font-size: 1.5vw;
}
.kil1{
    position: absolute;
    z-index: 3;
    margin-top: -10vw;
    margin-left: 35vw;
    border-radius: 2vw;
    width: 12vw;
    height: 4vh;
}
.tok{
    position: absolute;
    z-index: 3;
    width: 9vw;
    height: 3.5vh;
    font-size: 1vw;
    border-radius: 2vw;
    margin-top: -5vw;
    margin-left: 35vw;
}
.jk{
   position: absolute;
    z-index: 3;
    margin-left: 55vw;
    color: white;
    margin-top: -17vw;
}
.jk0{
     position: absolute;
    z-index: 3;
    margin-left: 73vw;
    color: white;
    margin-top: -16.8vw;
}
.jk1{
    position: absolute;
    z-index: 3;
    margin-left: 85vw;
    color: white;
    margin-top: -16.8vw;
}
.ok{
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: -13vw;
    margin-left: 55vw;
    font-size: 1.4vw;
}
.ok0{
    position: absolute;
    z-index: 3;
    color: white;
    margin-left: 70vw;
    margin-top: -13vw;
    font-size: 1.4vw;
}
.ok1{
    position: absolute;
    z-index: 3;
    font-size: 1.3vw;
    color: white;
    margin-top: -13vw;
    margin-left: 84vw;
}
.pk{
   position: absolute;
    z-index: 3;
    color: white;
    margin-left:55vw;
    margin-top: -10vw;
    font-size: 1.4vw;
}
.pk0{
   position: absolute;
    z-index: 3;
    margin-top: -10vw;
    color: white;
    margin-left: 72vw;
    font-size: 1.3vw;
}
.pk1{
   position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.3vw;
    margin-left: 86vw;
    margin-top: -10vw;
}
.pok{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    color: white;
    margin-left: 55vw;
    font-size: 1.4vw;
}
.pok0{
   position: absolute;
    z-index: 3;
    margin-top: -7vw;
    color: white;
    margin-left: 70vw;
    font-size: 1.4vw;
}
.pok1{
    position: absolute;
    z-index: 3;
    margin-top: -7vw;
    margin-left:83vw;
    font-size: 1.3vw;
    color: white;
}
.ank{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 54.6vw;
    color: white;
    font-size: 1.4vw;
}
.ank0{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 69vw;
    color: white;
    font-size: 1.4vw;
}
.ank1{
    position: absolute;
    z-index: 3;
    margin-top: -3.7vw;
    margin-left: 83vw;
    color: white;
    font-size: 1.4vw;
}
@media screen and (max-width:600px){
    .pit{
    position: relative;
    margin-left: 14vw;
    top: 8vw;
    font-size: 5vw;
    color: brown;
}
.pit0{
   position: relative;
   width: 10vw;
   margin-left: 2vw;
}
.dd{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    width: 115vw;
    height: 120vh;
    margin-left: 2vw;
    margin-top: 8vw;
    background-color:cornflowerblue;
    border-radius: 3vw;
}
.login0{
    position: absolute;
    z-index: 3;
    width: 80vw;
    border-radius: 5vw;
    height: 50vh;
    margin-top: -240vw;
    margin-left: 13vw;
}
.gin{
    position: absolute;
    z-index: 3;
    color:black;
    margin-left: 45vw;
    margin-top: -253vw;
}
.bel{
    position: absolute;
    z-index: 3;
    margin-left: 30vw;
    margin-top: -115vw;
    font-size: 5vw;
    color: brown;
    font-family: 'Delius Swash Caps', sans-serif;
}
.bel0{
    position: absolute;
    z-index: 3;
    width: 30vw;
    height: 2vh;
    border-radius: 1vw;
    margin-left: 32vw;
    margin-top: -100vw;
}
.namk{
    position: absolute;
    z-index: 3;
    width: 8vw;
    margin-left: 21vw;
    margin-top: -115.7vw;
}
.mai{
    position: absolute;
    z-index: 3;
    margin-left: 30vw;
    margin-top: -82vw;
    font-size: 5vw;
    color: brown;
    font-family: 'Delius Swash Caps', sans-serif;
}
.mai0{
    position: absolute;
    z-index: 3;
     width: 30vw;
    height: 2vh;
    border-radius: 1vw;
    margin-left: 33vw;
    margin-top: -72vw;
}
.mai1{
    position: absolute;
    z-index: 3;
    width: 8vw;
    margin-left: 21vw;
    margin-top: -82.5vw;
}.ord{
    position: absolute;
    z-index: 3;
    margin-left: 30vw;
    margin-top: -55vw;
    font-size: 5vw;
    color: brown;
    font-family: 'Delius Swash Caps', sans-serif;
}
.ord0{
    position: absolute;
    z-index: 3;
     width: 30vw;
    height: 2vh;
    border-radius: 1vw;
    margin-left: 34vw;
    margin-top: -44vw;
}
.ord1{
    position: absolute;
    z-index: 3;
    width: 8vw;
    margin-left: 21vw;
    margin-top: -56vw;
}
.mit{
    position: absolute;
    z-index: 3;
    width: 20vw;
    border-radius: 3vw;
    font-size:2vw;
    background-color: green;
    margin-left: 35vw;
    margin-top: -30vw;
}
.kn{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 8vw;
    height: 8vw;
    background-color:skyblue;
    margin-left: 25vw;
    margin-top: -18vw;
}
.kn:hover{
    background-color: white;
}
.fac{
    position: absolute;
    z-index: 4;
    width: 6vw;
    margin-left: 26vw;
    margin-top: -17vw;
}
.kn0{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 8vw;
    height: 8vw;
    background-color:palevioletred;
    margin-left:39vw;
    margin-top: -18vw;
}
.kn0:hover{
    background-color: white;
}
.ita{
    position: absolute;
    z-index: 4;
    width: 5vw;
    margin-left: 41vw;
    margin-top: -16.5vw;
}
.kn1{
    position: absolute;
    z-index: 3;
    border: 1px solid black;
    border-radius: 1vw;
    width: 8vw;
    height: 8vw;
    background-color:white;
    margin-left: 52vw;
    margin-top: -18vw;
}
.goh{
    position: absolute;
    z-index: 4;
    width: 5vw;
    margin-left: 53vw;
    margin-top: -16.5vw;
}





}