

@import url('https://fonts.cdnfonts.com/css/petitabold');
@import url('https://fonts.cdnfonts.com/css/agbalumo');

*{
    overflow-x: hidden;
    text-decoration: none;
}
.navbar {
  position: relative;
}

/* Default (for laptop/tablet) */
.menu-btn {
  display: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

.nav-links li a:hover {
  color: brown;
}
.home{
position: relative;
margin-left: 25vw;
margin-top: 1vw;
font-family: 'Agbalumo', sans-serif;
}
.img{
    position: relative;
    width: 2.5vw;
    margin-left: 22vw;
    top: -2.8vw;
}
.about{
    position: relative;
    margin-left: 5vw;
    font-family: 'Agbalumo', sans-serif;
    margin-top:1vw;
}
.img1{
   position: relative;
   width: 2.3vw;
   margin-left: 10vw;
   top: -2.5vw;
}
.contact{
    position: relative;
    margin-top: 1vw;
    margin-left: 5vw;
    font-family: 'Agbalumo', sans-serif;
}
.img2{
    position: relative;
    width: 2.4vw;
    margin-left: 10vw;
    top: -2.5vw;
}
.patient{
    position: relative;
    margin-top: 1vw;
    margin-left: 5vw;
     font-family: 'Agbalumo', sans-serif;
}
.img3{
    position: relative;
    width: 2.5vw;
    margin-left: 14.5vw;
    top: -2.5vw;
}
.bill{
    position: relative;
    margin-top: 1vw;
    font-family: 'Agbalumo', sans-serif;
    margin-left: 4vw;
}
.img4{
    position: relative;
    width: 2.5vw;
    margin-left: 10.5vw;
    top: -2.5vw;
}
.login{
    position: relative;
    margin-top: 1vw;
     font-family: 'Agbalumo', sans-serif;
     margin-left: 5vw;
}
.img5{
    position: relative;
    width: 2.5vw;
    margin-left: 10vw;
    top: -2.5vw;
}
/* Mobile view */
@media (max-width: 600px) {
  .menu-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    margin-left: 90vw;
    margin-top: 2vw;
  }

  .nav-links {
    position: fixed;
    left: -100vw;
    height: 15vh;
    width: 70vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5vw;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .nav-links.open {
    left: 0;
  }

  .nav-links li a {
    font-size: 3vw;
    color: black;
    text-decoration: none;
  }

  .nav-links li a:hover {
    color: brown;
  }
}
