

@import url('https://fonts.cdnfonts.com/css/petitabold');
@import url('https://fonts.cdnfonts.com/css/agbalumo');
   *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}

h2{
    color: black;
    font-family: 'Agbalumo', sans-serif;
}
h2:hover{
    color: brown;
}
.home{
    position: relative;
    margin-left: 25vw;
    margin-top: 1vw;
    text-decoration: none;
    font-size: 1.4vw;
}

.about{
    position: relative;
    margin-left: 40vw;
    margin-top: -3vw;
    font-size: 1.4vw;
}
.contact{
    position: relative;
    margin-left: 54vw;
    margin-top: -3vw;
    font-size: 1.4vw;
}
.patient{
    position: relative;
    margin-left: 69vw;
    margin-top: -3vw;
    font-size: 1.4vw;
}
.bill{
    position: relative;
    margin-left: 82vw;
    margin-top: -3vw;
    font-size: 1.4vw;
}
.login{
    position: relative;
    margin-left: 93vw;
    margin-top: -3vw;
    font-size: 1.4vw;
}

.img{
    position: relative;
    width: 2.5vw;
    margin-left: 22vw;
    top: -3.2vw;
}
.img1{
    position: relative;
    width: 2.1vw;
    margin-left: 13vw;
    top: -3vw;
}
.img2{
    position: relative;
    width: 2.5vw;
    margin-left: 11vw;
    top: -2.8vw;
}
.img3{
    position: relative;
    width: 2.5vw;
    margin-left: 13vw;
    top: -2.9vw;
}
.img4{
    position: relative;
    width: 2.2vw;
    margin-left: 11vw;
    top: -2.8vw;
}
.img5{
    position: relative;
    width: 2.5vw;
    margin-left: 8vw;
    top: -2.4vw;
}
 
 @media  screen and (max-width:600px) {
    
 *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}
    h2{
    color: black;
    font-family: 'PetitaMedium', sans-serif;
}
    h2:hover{
    color: brown;
}
   .home{
    position: relative;
    font-size: 2vw;
    margin-left: 5vw;
}
    .img{
    position: relative;
    width: 4.2vw;
    margin-left: 0vw;
    top: -12vw;
}
   .about{
    position: relative;
    font-size: 2vw;
    margin-left: 21vw;
    top: -1vw;
}

    .img1{
    position: relative;
    width: 4vw;
    margin-left: 12vw;
    top: -11.5vw;
}
    .contact{
     position: relative;
     margin-left: 37vw;
     top: -2vw;
     font-size: 2vw;
}

    .img2{
    position: relative;
    width: 4.5vw;
    margin-left: 12vw;
    top: -11vw;
}
   
.patient{
     position: relative;
     margin-left: 59vw;
     top: -3vw;
     font-size: 2vw;
}
   .img3{
    position: relative;
    width: 4.5vw;
    margin-left: 17.4vw;
    top: -11vw;
}
  .bill{
   position: relative;
     margin-left: 75vw;
     top: -4.5vw;
     font-size: 2vw;
}
    .img4{
    position: relative;
    width: 4.4vw;
    margin-left: 12vw;
    top: -10.5vw;
}

.login{
    position: relative;
     margin-left: 90vw;
     top: -5.5vw;
     font-size: 2vw;
}
.img5{
    position: relative;
    width: 4.5vw;
    margin-left: 9.5vw;
    top: -9.5vw;
}



 }

    


 

