

@import url('https://fonts.cdnfonts.com/css/petitabold');
@import url('https://fonts.cdnfonts.com/css/agbalumo');

.navbar {
  width: 100vw;
  height: 10vh;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 2vw;
  position: sticky;
  z-index: 1000;
}
.nav-link{
  list-style: none;
  display: flex;
  gap: 3vw;
  padding: 0;
}
.nav-link {
  list-style: none;
  display: flex;
  gap: 3vw;
}
.close-btn{
  display: none;
}
 .nav-link li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.8vh;
}
.hamburger {
  font-size: 3.5vh;
  display: none;
  cursor: pointer;
}
.mobile-menu{
  display: none;
}
.home {
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left: 15vw;
}
.home:hover {
  color:#fff;
  transform: translateY(-2px);
}
.about{
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left:26vw;
}
.about:hover {
  color: #fff;
  transform: translateY(-2px);
}
.contact{
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left: 36vw;
}
.contact:hover{
   color: #fff;
  transform: translateY(-2px);
}
.patient{
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left: 49vw;
}
.patient:hover{
  color: #fff;
  transform: translateY(-2px);
}
.billing{
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left:60vw
}
.billing:hover{
   color: #fff;
  transform: translateY(-2px);
}
.login{
  position: absolute;
   color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left:70vw;
}
.login:hover{
   color: #fff;
  transform: translateY(-2px);
}
@media (max-width: 600px) {
  .navbar {
    width: 100%;
    justify-content: space-between!important;         /* little smaller navbar for mobile */
    padding: 0 3vh;  
    display: none;     /* more spacing */
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;

  }
   .sidebar {
 position: absolute;      
  top: 10vh;               
  left: -60vw;             
  width: 40vw;             
  height: 20vh;           
  background:white;
  color:black;
  transition: 0.3s ease;
  padding: 2vh 3vw;
  border-radius: 10px;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 3vw;
}

.sidebar li {
  padding: 2.5vh 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 2vh;
} 
.close-btn {
  position: absolute;
  top: 2vh;
  right: 3vw;
  font-size: 4vh;
  display: block;
  cursor: pointer;
  color:black;
}
.mobile-menu{
  display: block;
}
.home1{
  position: absolute;
  font-size: 4.5vw;
  text-decoration: none;
  color: black;
  margin-top: 2vw;
  margin-left: 5vw;
  font-family: 'Agbalumo', sans-serif;
}
.about1{
  position: absolute;
  font-size: 4.5vw;
  text-decoration: none;
  color: black;
  margin-top: -5vw;
  margin-left: 5vw;
  font-family: 'Agbalumo', sans-serif;
}
.contact1{
   position: absolute;
  font-size: 4.5vw;
  text-decoration: none;
  color: black;
  margin-top: -14vw;
  margin-left: 4vw;
  font-family: 'Agbalumo', sans-serif;
}
.patient1{
   position: absolute;
  font-size: 4.5vw;
  text-decoration: none;
  color: black;
  margin-top: -21vw;
  margin-left: 4vw;
  font-family: 'Agbalumo', sans-serif;
}
.billing1{
   position: absolute;
  font-size: 4.5vw;
  text-decoration: none;
  color: black;
  margin-top: -29vw;
  margin-left: 4vw;
  font-family: 'Agbalumo', sans-serif;
}
.login1{
   position: absolute;
  font-size: 4.5vw;
  text-decoration: none;
  color: black;
  margin-top: -39vw;
  margin-left: 4vw;
  font-family: 'Agbalumo', sans-serif;
}
}