

@import url('https://fonts.cdnfonts.com/css/petitabold');
@import url('https://fonts.cdnfonts.com/css/agbalumo');

.navbar {
  width: 100vw;
  height: 10vh;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 3vw;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 3vw;
}
.close-btn{
  display: none;
}
.nav-links li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.8vh;
}
.hamburger {
  font-size: 3.5vh;
  display: none;
  cursor: pointer;
}
.mobile-menu{
  display: none;
}
.home {
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left: 15vw;
}
.home:hover {
  color:#fff;
  transform: translateY(-2px);
}
.about{
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left:26vw;
}
.about:hover {
  color: #fff;
  transform: translateY(-2px);
}
.contact{
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left: 36vw;
}
.contact:hover{
   color: #fff;
  transform: translateY(-2px);
}
.patient{
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left: 49vw;
}
.patient:hover{
  color: #fff;
  transform: translateY(-2px);
}
.billing{
  position: absolute;
  color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left:60vw
}
.billing:hover{
   color: #fff;
  transform: translateY(-2px);
}
.login{
  position: absolute;
   color: white;
  font-size: 1.7vw;
  font-weight: 600;
  padding: 0.8vh 1.2vw;
  text-decoration: none;
  font-family: 'Agbalumo', sans-serif;
  transition: 0.3s ease;
  margin-left:70vw;
}
.login:hover{
   color: #fff;
  transform: translateY(-2px);
}
@media (max-width: 600px) {
  .navbar {
    height: 8vh;          /* little smaller navbar for mobile */
    padding: 0 4vw;       /* more spacing */
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
  .sidebar {
 position: absolute;     /* navbar kula varanum-na absolute use pannum */
  top: 10vh;              /* navbar height keela start */
  left: -60vw;            /* hide */
  width: 60vw;            /* small width */
  height: 30vh;           /* box size small */
  background: #111;
  color: white;
  transition: 0.3s ease;
  padding: 2vh 3vw;
  border-radius: 10px;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 3vw;
}

.sidebar li {
  padding: 2.5vh 0;
  border-bottom: 1px solid #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 2vh;
}
.close-btn {
  position: absolute;
  top: 2vh;
  right: 3vw;
  font-size: 4vh;
  display: block;
  cursor: pointer;
  color: white;
}
.mobile-menu{
  display: block;
}
}