*{
    margin: 0;
    padding: 0;
}
.ho11{
    position: relative;
    width: 4vw;
    margin-left: 3vw;
}
.ta11{
     position: relative;
     margin-left: 8vw;
     top: -3.4vw;
     color: brown;
}
.cck{
    position: relative;
    z-index: 2;
    width: 90vw;
    height: 95vh;
    margin-left: 4vw;
}
.apy{
    position: absolute;
    z-index: 3;
    margin-top: -27vw;
    margin-left: 5vw;
    font-size: 1.5vw;
    color: black;
}
.apy0{
    position: absolute;
    z-index: 3;
    margin-top: -15vw;
    margin-left: 5vw;
    font-size: 1.5vw;
    color: black;
}
.doctor{
    position: relative;
    margin-left: 42vw;
    margin-top: 5vw;
    font-size: 2.5vw;
}
.doctor:hover{
    color: brown;
}
.hh0{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 2vw;
    margin-top: 3vw;
    background-color: aliceblue;
}
.patho{
    position: absolute;
    z-index: 3;
    height: 45vh;
    border-radius: 2vw;
    margin-left: 7vw;
    margin-top: -32vw;
}
.patho:hover{
    transform: scale(1.1);
      cursor: pointer;     
}
.raja{
    position:absolute;
    z-index: 3;
    margin-left: 5.7vw;
    margin-top: -8vw;
}
.raja1{
    position: absolute;
    z-index: 3;
    margin-left: 8vw;
    margin-top: -4vw;
    font-size: 1.5vw;
    color:brown;
}
.hh1{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 35vw;
    margin-top: -35vw;
    background-color: aliceblue;
}
.varma{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 46vh;
   border-radius: 2vw;
    margin-left: 40vw;
    margin-top: -32vw;
}
.varma:hover{
    transform: scale(1.1); 
      cursor: pointer;     
}
.varmak{
    position: absolute;
    z-index: 3;
    margin-top: -8vw;
    margin-left: 37vw;
}
.varma1{
    position: absolute;
    z-index: 3;
    margin-left: 42vw;
    margin-top: -4vw;
    font-size: 1.5vw;
    color:brown;
}
.hh2{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 69vw;
    margin-top: -35vw;
    background-color: aliceblue;
}
.ana{
    position:absolute;
    z-index: 3;
    width: 20vw;
    height: 46vh;
    border-radius: 2vw;
    margin-left: 75vw;
    margin-top: -32vw;
}
.ana:hover{
    transform: scale(1.1); 
      cursor: pointer;     
}
.anam{
    position:absolute;
    z-index: 3;
    margin-left: 77vw;
    margin-top: -8vw;
}
.anal{
    position:absolute;
    z-index: 3;
    margin-left: 77vw;
    margin-top: -4vw;
    font-size: 1.5vw;
    color: brown;
}
.hh3{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 2vw;
    margin-top: 3vw;
    background-color: aliceblue;
}
.nanl{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 48vh;
    border-radius: 2vw;
    margin-left: 6vw;
    margin-top: -32vw;
}
.nanl:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.nanoj{
    position: absolute;
    z-index: 3;
    margin-left: 8vw;
    margin-top: -7vw;
}
.nanoi{
    position:absolute;
    z-index: 3;
    margin-left: 7.5vw;
    margin-top: -3vw;
    font-size: 1.5vw;
    color: brown;
}
.hh4{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 35vw;
    margin-top: -35vw;
    background-color: aliceblue;
}
.uro{
    position:absolute;
    z-index: 3;
    border-radius: 2vw;
    width: 18vw;
    height: 48vh;
    margin-left: 41vw;
    margin-top: -32vw;
}
.uro:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.urop{
    position: absolute;
    z-index: 3;
    margin-left: 37vw;
    margin-top: -7vw;
}
.urow{
    position: absolute;
    z-index: 3;
    margin-left: 43vw;
    margin-top: -3vw;
    font-size: 1.5vw;
    color: brown;
}
.hh5{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 69vw;
    margin-top: -35vw;
    background-color: aliceblue;
}
.cardio{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 48vh;
    border-radius: 2vw;
    margin-left: 74.5vw;
    margin-top: -32vw;
}
.cardio:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.cardioa{
    position: absolute;
    z-index: 3;
    margin-left: 74vw;
    margin-top: -7vw;
}
.cardioq{
    position: absolute;
    z-index: 3;
    margin-left: 77vw;
    font-size: 1.5vw;
    margin-top: -3vw;
    color: brown;
}
.hh6{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 2vw;
    margin-top: 3vw;
    background-color: aliceblue;
}
.radio{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 48vh;
    border-radius: 2vw;
    margin-left: 6vw;
    margin-top: -32vw;
}
.radio:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.radiod{
    position: absolute;
    z-index: 3;
    margin-left: 6vw;
    margin-top: -7vw;
}
.radion{
    position: absolute;
    z-index: 3;
    margin-left: 8vw;
    margin-top: -3vw;
    font-size: 1.5vw;
    color: brown;
}
.hh7{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 35vw;
    margin-top: -35vw;
    background-color: aliceblue;
}
.gyna{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 48vh;
    margin-left: 39.8vw;
    margin-top: -32vw;
    border-radius: 2vw;
}
.gyna:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.gynal{
    position: absolute;
    z-index: 3;
    margin-left: 41vw;
    margin-top: -7vw;
}
.gynab{
    position: absolute;
    z-index: 3;
    margin-top: -3vw;
    margin-left: 42.5vw;
    font-size: 1.5vw;
    color: brown;
}
.hh8{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 69vw;
    margin-top: -35vw;
    background-color: aliceblue;
}
.nep1{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 48vh;
    border-radius: 2vw;
    margin-left: 74.5vw;
    margin-top: -32vw;
    
}
.nep1:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.neph{
    position: absolute;
    z-index: 3;
    margin-left: 75vw;
    margin-top: -7vw;
}
.nep2{
    position: absolute;
    z-index: 3;
    margin-left: 74vw;
    font-size: 1.5vw;
    margin-top: -3vw;
    color: brown;
}
.hh9{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 2vw;
    margin-top: 3vw;
    background-color: aliceblue;
}
.onco{
    position: absolute;
    z-index: 3;
    width: 20vw;
    height: 48vh;
    margin-left: 6vw;
    margin-top: -32vw;
    border-radius: 2vw;
}
.onco:hover{
transform: scale(1.1);
cursor: pointer;
}
.oncoo{
    position: absolute;
    z-index: 3;
    margin-left: 5vw;
    margin-top: -7vw;
}
.onco1{
    position: absolute;
    z-index: 3;
    margin-left: 5vw;
    margin-top: -3vw;
    font-size: 1.5vw;
    color: brown;
}
.hh10{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 35vw;
    margin-top: -35vw;
    background-color: aliceblue;
}
.ctvs{
    position:absolute;
    z-index:3;
    width: 20vw;
    height: 48vh;
    margin-left: 40vw;
    border-radius: 2vw;
    margin-top: -32vw;
}
.ctvs:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.ctvs0{
    position: absolute;
    z-index: 3;
    margin-left: 38vw;
    margin-top: -7vw;
}
.ctvs1{
    position: absolute;
    z-index: 3;
    margin-left: 41vw;
    margin-top: -3vw;
    font-size: 1.5vw;
    color: brown;
}
.hh11{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 30vw;
    height: 35vw;
    margin-left: 69vw;
    margin-top: -35vw;
    background-color: aliceblue;
}
.sree{
    position:absolute;
    z-index: 3;
    width: 20vw;
    height: 48vh;
    margin-left: 74vw;
    margin-top: -32vw;
    border-radius: 2vw;
}
.sree:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.sree0{
    position: absolute;
    z-index: 3;
    margin-left: 77vw;
    margin-top: -7vw;
}
.sree1{
    position: absolute;
    z-index: 3;
    font-size: 1.5vw;
    margin-left: 75vw;
    margin-top: -3vw;
    color: brown;
}
.mm{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 70vw;
    height: 98vh;
    margin-left: 10vw;
    margin-top: 5vw;
    background-color:aliceblue;
}
.details{
    position: absolute;
    z-index: 3;
    margin-top: -43vw;
    margin-left: 35vw;
}
.nn{
    position: absolute;
    z-index: 3;
    margin-left: 18vw;
    margin-top: -38vw;
    font-size: 1.5vw;
}
.nn0{
    position: absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 15vw;
    margin-top: -38vw;
}
.nn1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-left: 17vw;
    margin-top: -36vw;
}
.nam{
    position: absolute;
    z-index: 3;
    margin-left: 18vw;
    margin-top: -32.5vw;
    font-size: 1.5vw;
}
.nam0{
    position: absolute;
    z-index: 3;
    width: 2vw;
    margin-left: 15vw;
    margin-top: -30vw;
}
.nam1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-left: 17vw;
    margin-top: -30vw;
}
.age{
    position: absolute;
    z-index: 3;
    margin-left: 18vw;
    margin-top: -26.7vw;
    font-size: 1.5vw;
}
.age0{
    position:absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 15vw;
    margin-top: -22vw;
}
.age1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-top: -24vw;
    margin-left: 17vw;
}
.gen{
    position: absolute;
    z-index: 3;
    margin-left: 18vw;
    margin-top: -20vw;
    font-size: 1.5vw;
}
.gen0{
    position: absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 15vw;
    margin-top: -13vw;
}
.gen1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-top: -18vw;
    margin-left: 17vw;
}
.dob{
    position: absolute;
    z-index: 3;
    margin-left: 18vw;
    margin-top: -15.5vw;
    font-size: 1.5vw;
}
.dob0{
    position: absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 15vw;
    margin-top: -6vw;
}
.dob1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-left: 17vw;
    margin-top: -14vw;
}
.ema{
    position: absolute;
    z-index: 3;
    margin-left: 59vw;
    margin-top: -50.5vw;
    font-size: 1.5vw;
}
.ema0{
    position: absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 56vw;
    margin-top: -38.3vw;
}
.ema1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-left: 57vw;
    margin-top: -48vw;
}
.num{
    position: absolute;
    z-index: 3;
    margin-left: 59vw;
    margin-top: -45vw;
    font-size: 1.5vw;
}
.num0{
    position: absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 56vw;
    margin-top: -30.5vw;
}
.num1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-left: 57vw;
    margin-top: -43vw;
}
.pro{
    position: absolute;
    z-index: 3;
    margin-left: 59vw;
    margin-top: -38.7vw;
    font-size: 1.5vw;
}
.pro0{
    position: absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 56vw;
    margin-top: -22vw;
}
.pro1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-left: 57vw;
    margin-top: -36vw;
}
.add{
    position: absolute;
    z-index: 3;
    margin-left: 59vw;
    margin-top: -32.4vw;
    font-size: 1.5vw;
}
.add0{
    position: absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 56vw;
    margin-top: -13vw;
}
.add1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-left: 57vw;
    margin-top: -30vw;
}
.gro{
    position: absolute;
    z-index: 3;
    margin-left: 59vw;
    margin-top: -27.5vw;
    font-size: 1.5vw;
}
.gro0{
    position: absolute;
    z-index: 3;
    width: 1.9vw;
    margin-left: 56vw;
    margin-top: -6vw;
}
.gro1{
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 3vh;
    border-radius: 2vw;
    margin-left: 57vw;
    margin-top: -26vw;
}
.chec{
    position: absolute;
    z-index: 3;
    margin-left: 55vw;
    margin-top: -26vw;
}
.sub{
    position: absolute;
    z-index: 3;
    margin-left: 37vw;
    margin-top: -28vw;
    width: 10vw;
    border-radius: 2vw;
    font-size: 1.3vw;
    background-color: green;
}
.path{
    position: absolute;
    z-index: 3;
    width: 18vw;
    border-radius: 2vw;
    margin-left: 32vw;
    margin-top: -30vw;
}

.data{
    position: relative;
    margin-left: 40vw;
    margin-top: -19vw;
}
table,tr,td{
    position:relative;
    margin-top: 3vw;
    border: 1px solid black;
    padding: 1.8vw;
    background-color: aliceblue;
}
.da{
    position: relative;
    margin-top: 18vw;
    margin-left: 40vw;
}
.ss{
    position: relative;
    z-index: 2;
    border: 1px solid black;
    border-radius: 2vw;
    width: 70vw;
    height: 98vh;
    margin-left: 10vw;
    margin-top: 5vw;
    background-color:aliceblue;
}